* {
	box-sizing: border-box;
}

h1 {
	font-size: 31.5px;
	text-align: center;
}

#block_container {
	max-width: 90%;
	margin: auto;
	position:relative;/*position: relative;*/
}

section {
	max-width: 30%;
	border: 3px solid black;
	padding: 5px;
	margin-right: 5px;
}

section > h2 {
	font-size: 22.5px;
	border: 1px solid black;
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 0px 10px 0px 10px;
}

section > p {
	margin-top: 30px;
}

section.sect1_float_left {
	float: left;
	position: relative;
	background-color: orange;
}
.sect1_float_left > h2 {
	background-color: black;
	color: #ffffff;
	font-size: ;
}

.sect1_float_left p {
	font-family: 'Calipsto MT','Times New Roman', serif;
	font-size: 18px;


}


section.sect2_float_middle {
	position: absolute;
	clear: both;
	float: right;
	left: 35%;
	background-color: blue;
}	

.sect2_float_middle > h2 {
	background-color: white;
	color: #000000;
	font-size: ;
}

.sect2_float_middle p {
	font-family: 'Calipsto MT','Times New Roman', serif;
	font-size: 18px;
	color: #fff;
}

section.sect3_float_right {
	position: absolute;
	clear: both;
	float: right;
	right: 0%;
	background-color: black;
}

.sect3_float_right > h2 {
	background-color: aqua;
	color: blue;
	font-size: ;
}

.sect3_float_right p {
	font-family: 'Calipsto MT','Times New Roman', serif;
	font-size: 18px;
	color: orange;
}

@media (max-width: 767px) {

	.sect1_small_screen{
		position: relative;
		float: left;
		max-width: 85%;
		margin: auto;
	}

	.sect2_small_screen{
		position: absolute;
		clear: both;
		float: left;
		top: ;
		max-width: 85%;

	}

	.sect3_small_screen{
		position: absolute;
		float: left;
		max-width: 85%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {


}

@media (min-width: (992px) {

}

