* {
	box-sizing: border-box;
}

h1 {
	font-size: 31.5px;
	text-align: center;
}

#block_container {
	width: 90%;
	margin: auto;
	position:relative;/*position: relative;*/
}

section {
	max-width: 33%;
	border: 3px solid black;
	padding: 5px;
	margin-right: 5px;
}

section > h2 {
	font-size: 22.5px;
	border: 1px solid black;
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 0px 10px 0px 10px;
}

section > p {
	margin-top: 30px;
}

section.sect1_float_left {
	float: left;
	position: relative;
	background-color: orange;
}
.sect1_float_left > h2 {
	background-color: black;
	color: #ffffff;
	font-size: ;
}

.sect1_float_left p {
	font-family: 'Calipsto MT','Times New Roman', serif;
	font-size: 18px;


}


section.sect2_float_middle {
	position: absolute;
	clear: both;
	float: right;
	left: 33.3%;
	background-color: blue;
	
}	

.sect2_float_middle > h2 {
	background-color: white;
	color: #000000;
	font-size: ;
}

.sect2_float_middle p {
	font-family: 'Calipsto MT','Times New Roman', serif;
	font-size: 18px;
	color: #fff;
}

section.sect3_float_right {
	position: absolute;
	clear: both;
	float: right;
	left: 66.6%;
	background-color: black;
}

.sect3_float_right > h2 {
	background-color: aqua;
	color: blue;
}

.sect3_float_right p {
	font-family: 'Calipsto MT','Times New Roman', serif;
	font-size: 18px;
	color: orange;
}

@media screen and (max-width: 767px) {

	.col_small_12 {
		position: relative;
		width: 99.9%;
	}

/* -------------Medium Devices--------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

		.col_md_6 {
			float: left;
			border: 1px solid green;
			width: 49.95%;
			margin-right: 5px;
		}

}

/* -------------Large scree-------------- */
@media screen and (min-width: (992px) {
	.col_lg_4 {
		float: left;
		border: 1 px solid green;
		width: 33%;
		margin-right: 5px;
	}
}
}
