* {
	box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
.container {
	margin-top: 0px;
	padding: ;
}
#body-container.container {
	background-color: #b3ebf0;
	height: 1000px;
}
/** HEADER **/
#header-nav {
  background-color: #1e2222;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 {
	font-weight: bold;
	color: #fff;
	font-size: 1.6em;
	margin-top: -22px;
	text-decoration: none;
}
.navbar-brand span {
	text-transform: uppercase;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #fff;
}
#nav-list {
	background-color: #e7e7e7;
	text-align: center;
}
#nav-list li {
	width: 100%;
}
#nav-list li a {
	font-size: 1.2em;
	color: #f26722;
	font-weight: bold;
}
#nav-list li a:hover, #nav-list li a:focus, #nav-list li:hover {
	text-decoration: none;
	background-color: #ffff00;
	opacity: .9;
}


hr {
	color: white;
	margin: 5px;
}

#collapsable-vav ul li a::hover {
	background-color: #fff;
}
/*** --------------- END OF THE HEADER --------***/

/**  HOME PAGE **/

h1 {
	text-transform: capitalize;
	font-size: 31.5px;
	color: #ff0000;
	padding: 5px 15px 5px 15px;
	font-weight: bolder;
}

h3 {
	text-transform: capitalize;
	font-size: 1.4em;
	font-weight: bold;
	padding: 5px 20px 5px 20px;
}

section {
	border: 1px solid black;
}

.block_1, .block_2, .block_3 {
	background-color: #cfe295;
	height: auto;
	margin: auto;
	position: relative;
	margin-bottom: 5px;
}

h3 {
	color: black;
	background-color: #8cc9be;
}

.block_1 p, .block_2 p, .block_3 p {
	font-size: 1.125em;
	font-family: 'Times New Roman', serif;
	padding: 5px 5px 5px 5px;
}
.block_1 p {
	color: #000000;
}

.block_2 p {
	color: indigo;
}

.block_3 p {
	color: #0000ff;
}

.back-menu {
	font-size: 1.1em;
	font-weight: bold;
	font-style: italic;
	color: red;
}
.back-menu:hover, .back-menu:focus {
		text-decoration: none;
}
/* END HOME PAGE */

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 480px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 20px;
    font-size: 6vw;
  }
  .navbar-brand {
    padding-top: 10px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End Header */
  
}





